
.informe-container {
  padding: 80px;
}

.tabs {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.tab-btn {
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ccc;
  transition: background-color 0.2s;
}

.tab-btn.active {
  background-color: #1976d2;
}

/* ====== FILTROS SUPERIORES ====== */
.filter-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr auto;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.filter-grid select,
.filter-grid input {
  padding: 0.3rem;
}

.btn-guardar {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}


.table-container {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  tr{
    border-bottom: 1px solid #33333300;
  }
}

.table-container th {
  border-bottom: 2px solid #ccc;
  padding: 0.5rem;
}

.table-container td {
  padding: 0.5rem;
}

.table-empty {
  text-align: center;
  padding: 1rem;
  color: #666;
}

.edit-row {
  background: #f7f7f7;
  padding: 1rem;
}

.edit-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}

.edit-form input,
.edit-form select {
  padding: 0.3rem;
}

.edit-form button {
  padding: 0.3rem 0.6rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.edit-form button:first-of-type {
  background-color: #1976d2;
  color: white;
}

.edit-form button:last-of-type {
  background-color: #e53935;
  color: white;
}

.action-btn {
  background-color: #8cc4fd;
  color: white;
  border: none;
  padding: 4px ;
  border-radius: 4px;
  cursor: pointer;
}
.td-btn-container{
    display: flex;
    justify-content: center;
    gap: 4px;
}

